.skills_h5 {
    color: var(--color-primary);
    font-size: 0.9rem;
}
.skills_h2 {
    color: var(--color-white);
    font-size: 1.8rem;
}
.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.skills__container > div {
    background: transparent;
    padding: 2.4rem 5rem ;
    border-radius: 2rem;
    border: 1px solid var(--color-primary) ;

}
.skills__container > div:hover {
    border-color: var(--color-primary);
    cursor: default;
    box-shadow: 0em 0.1em 1.2em 0.2em var(--color-primary);
}
.skills__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-light);
}
.skills_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.skills_details {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.skills_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}
/* .skills_tools-technology {
    grid-column: span 2; 
    margin: auto;
} */
.skills_tools-technology {
    grid-column: 1 / -1;   /* Center it in the grid layout */
    margin: 0 250px 0 250px;
}
/*  ///////// MEDIA-QUERIES ///////// (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__container >div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .skills_content {
        padding: 1rem;
    }
}
/*  ///////// MEDIA-QUERIES ///////// SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .skills__container {
        gap: 1rem;
    }
    .skills__container >div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }
}



