.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 45%;
    align-items: center;
    justify-content: center;
}
.contact_h5 {
    color: var(--color-primary);
    font-size: 0.9rem;
}
.contact_h2 {
    color: var(--color-white);
    font-size: 1.8rem;
}
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option {
    background: transparent;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover {
    box-shadow: 0em 0.1em 1.2em 0.2em var(--color-white);
}
.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact__option a {
    display: inline-block;
    margin-top: 0.7rem;
    font-size: 0.8rem;
}
.contact__option h5 {
    color: var(--color-light);
}

/*  ///////// MEDIA-QUERIES ///////// (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
/*  ///////// MEDIA-QUERIES ///////// SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}

